<div class="floating-sns">
  <div class="sns-header">
    <img src="{{ url_for('static', filename='files/img/logo/saegil_logo_circle.png') }}" alt="새길 로고" class="fond-logo" />
    <div class="fond-title">
      <span>새길</span><br><strong>#SNS</strong>
    </div>
  </div>
  <div class="sns-links">
    <a href="https://www.instagram.com/cuk.engineering" target="_blank" class="sns-item">
      <img src="{{ url_for('static', filename='files/img/logo/icon_instagram.png') }}" alt="유튜브 아이콘" class="img" />
      <span>인스타</span>
    </a>
    <a href="https://linktr.ee/cuk_engineering" target="_blank" class="sns-item">
      <img src="{{ url_for('static', filename='files/img/logo/icon_linktree.png') }}" alt="인스타그램 아이콘" class="img" />
      <span>링크트리</span>
    </a>
  </div>
</div>